<!-- <div class="page-container">
    <h4>Add a new contact</h4>

    <p>
        Simplify and Expand Your Connections with Seamless New Contact Integration
    </p>

    <form>

        <div class="fx-row">
            <input class="input-size-1" type="text" placeholder="Full Name">
        </div>

        <div class="fx-row">
            <input class="input-size-1" type="text" placeholder="Address">
        </div>

        <div class="fx-row">
            <input class="input-size-2" type="text" placeholder="Phone Number">
            <input class="input-size-2" type="text" placeholder="Email Address">
        </div>

        <div class="fx-row">
            <input class="input-size-2" type="text" placeholder="Company/Organization">
            <input class="input-size-2" type="text" placeholder="Social Media Profiles">
        </div>

        <div class="fx-row">
            <input class="input-size-2" type="text" placeholder="Website">
            <input class="input-size-2" type="text" placeholder="Notes">
        </div>

        <div class="fx-container fx-align-right">
            <button class="btn-primary ripple-btn-primary">Send Message</button>
        </div>

    </form>

</div> -->



<div class="page-container">
    <h4>Contacts</h4>
    <div class="mt-5">
        <button class="btn btn-outline-primary mr-2">
            
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              
            <span>
                Create
            </span>
        
        </button>
    </div>
    

    <table>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        <tr>
          <td>Apples</td>
          <td>$1.99</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Oranges</td>
          <td>$0.99</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Bananas</td>
          <td>$0.49</td>
          <td>20</td>
        </tr>
      </table>
      




</div>