// File: _variables.scss

// Variables Module
// --------------
// This module contains the variables used in this application.

$primary-color: #FF5A5F;
$text-color: #0f1125;
$text-color-muted: #767676;

// HTML body Colors
// ------------
// Variable: $html-body-background
// Description: Represents the background for the body of the html.
$html-body-background: #0d1116;

// HTML body Colors
// ------------
// Variable: $gradient-background
// Description: Represents a gradient background for the body of the html.
$gradient-background: linear-gradient(to bottom, #020613, #0d1116);

// Navbar Colors
// ------------
// Variable: $side-navbar-background
// Description: Represents the background within the navbar.
$side-navbar-background: #161c23;

// Variable: $navbar-text-main-color
// Description: Represents the background within the navbar.
$navbar-text-main-color: #a4a4a4;

// Variable: $navbar-text-muted-color
// Description: Represents the background within the navbar.
$navbar-text-muted-color: #f9f9f9;

// Variable: $navbar-logo-color
// Description: Represents the color of the logo within the navbar.
$navbar-logo-color: #4b67b0;

// Borders
// ------------
// Variable: $main-border-radius
// Description: Represents the border radius for the application.
$main-border-radius: 0.60rem;
