// File: _layout.scss

// Layout Module
// --------------
// This module contains the layout styles for the application.

// Container Styles
// --------------
// These classes define styles for different container elements.

// Class: .page-container
// Description: Represents the page container.
.page-container {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
    padding-right: 0.5rem;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

// Class: .container
// Description: Represents a top-level heading.
.container {
    display: flex;
    height: 100vh; // Set the container height to fill the entire viewport
}

// Class: .section-1
// Description: Represents a top-level heading.
.section-1 {
    width: 16rem; // Fixed width of the first section
}

// Class: .section-2
// Description: Represents a top-level heading.
.section-2 {
    flex: 1; // Let the second section fill the remaining space
}

// Class: .page
// Description: Represents a top-level heading.
.page {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}