// File: _side-navbar.scss

// Side NavBar Module
// -----------------
// This module contains styles for the side navigation bar.

// Navbar
// ------
// Block: .navbar
// Description: Represents the container for the navbar.
.navbar {

    width: 18rem;
    height: 100vh;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    overflow-y: auto;
    background: $side-navbar-background;

    // Navbar Logo
    // ------------
    // Element: .navbar__logo
    // Description: Represents the logo within the navbar.
    &__logo {
        padding-left: 0.5rem;
        margin-bottom: 1.25rem;
        display: flex;
        align-items: center;
        color: $navbar-logo-color;
        text-decoration: inherit;

        // Logo Text
        // ------------
        // Element: .navbar__logo__text
        // Description: Represents a text within the logo.
        &__text {
            padding-top: 0.1rem;
            font-size: 1.45rem;
            font-weight: 600;
        }
    }

    // Navbar Link
    // ------------
    // Element: .navbar__navigation
    // Description: Represents ul navigation within the navbar.
    &__navigation {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 72vh;

        // Navbar Link
        // ------------
        // Element: .navbar__link
        // Description: Represents a link within the navbar.
        &__link {
            color: $navbar-text-main-color;
            border-radius: 0.5rem;
            padding: 0.5rem;
            display: flex;
            align-items: center;
        }
    }

    // Navbar Footer
    // ------------
    // Element: .navbar__footer
    // Description: Represents the navbar footer with the avatar, settings and logout.
    &__footer {
        background: $html-body-background;
        border-radius: $main-border-radius;
        padding: 1rem;
        padding-top: 0.75rem;
        color: $navbar-text-main-color;
        // background: red;

        &__avatar-container {
            display: flex;
            align-items: center;

            &__avatar {
                margin-right: 1rem;
            }

            &__text {
                padding: 0;
                margin: 0;

                &__title {
                    color: $navbar-text-muted-color;
                }

                &__subtitle {
                    color: $navbar-text-main-color;
                }
            }
        }
    }

}